.component {
	/* background: rgba(255, 255, 255, 0.2); */
	background: transparent;
	backdrop-filter: blur(10px);
	position: sticky;
	top: 0;
	padding: 25px 30px;
	z-index: 999;
}

.wrapper {
	max-width: 1200px;
	margin: auto;
	display: grid;
	justify-content: space-between;

	svg {
		height: 30px;
		width: auto;
		color: #ff4679;
	}
}
