.component {
	padding: 0px 30px 180px;
}

.wrapper {
	max-width: 1200px;
	margin: auto;
	display: grid;
	gap: 50px;

	@media (min-width: 768px) {
		gap: 100px;
	}
}

.header {
	display: grid;
	gap: 10px;
	text-align: center;

	h1 {
		font-size: 45px;
		font-weight: 500;
		color: #ff4679;
		font-family: var(--font-gladolia);
	}

	p {
		font-size: 1.2rem;
		color: #ff4679;
		max-width: 600px;
		margin: auto;
	}
}

.list {
	display: grid;
	gap: 30px;
	list-style: none;
	margin: 0;
	padding: 0;
}

.item {
	display: grid;
	border: 3px solid #ff4679;
	border-radius: 20px;
	color: #ff4679;
	grid-template-rows: max-content 0fr;
	overflow: hidden;
	transition:
		color 0.2s ease-in-out,
		background 0.2s ease-in-out,
		box-shadow 0.2s ease-in-out,
		grid-template-rows 0.2s ease-in-out;

	&[data-open="true"] {
		background: #ff4679;
		color: #fff;
		grid-template-rows: max-content 1fr;
		box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);

		.answer {
			opacity: 1;
			padding: 0 30px 30px 30px;
		}
	}

	&:focus-within {
		background: #ff4679;
		color: #fff;
		box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
	}

	&:hover {
		background: #ff4679;
		color: #fff;
		box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
	}
}

.question {
	font-size: 24px;
	font-weight: 600;
	font-family: var(--font-milliffigh);
	/* line-height: 1em; */
	background: transparent;
	border: none;
	text-align: left;
	cursor: pointer;
	padding: 30px;
	color: inherit;
	outline: none;
}

.answer {
	display: grid;
	gap: 15px;
	font-size: 18px;
	line-height: 1.2em;
	opacity: 0;
	transition:
		opacity 0.2s ease-in-out,
		padding 0.2s ease-in-out;
	padding: 0 30px;
	overflow: hidden;
	white-space: pre-line;
}
